/* Global Styles
   ========================================================================== */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing : border-box;
}


/* Remove default margin and padding */
body,
h1, h2, h3, h4, h5, h6,
p,
figure,
blockquote,
dl,
dd {
    margin  : 0;
    padding : 0;
}

/* Set core body defaults */
a {
    text-decoration : none;

}

a:visited {
    color           : var(--apple-black);
    text-decoration : none;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
    list-style : none;
}

/* Make images easier to work with */
img {
    max-width : 100%;
    display   : block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font : inherit;
}
header {
    display      : flex;
    align-items  : flex-start;
    margin-right : 5%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion : reduce) {
    html:focus-within {
        scroll-behavior : auto;
    }

    *,
    *::before,
    *::after {
        animation-duration        : 0.01ms !important;
        animation-iteration-count : 1 !important;
        transition-duration       : 0.01ms !important;
        scroll-behavior           : auto !important;
    }
}

/* Root Variables
   ========================================================================== */
:root {
    /* Grayscale Colors */
    --apple-gray                 : #A2AAAD;
    --apple-black                : #000000;
    --apple-white                : #FFFFFF;
    --apple-dark-gray            : #4A4A4A;
    --apple-light-gray           : #D7D7D7;
    --theme-color                : orange !important;

    /* Accent Color */
    --apple-blue                 : #007AFF;

    /* Font Properties */
    --default-price-font         : 1.5rem;
    --price-discounted-font-size : 1.2rem;

    /* Header Properties*/
    --bg-base                    : #FFFFFF;

    /* Special Tags  */
    --item-trending-bg           : orange;
    --item-bigSale-bg            : firebrick;
    --item-free-shipping-bg      : blue;
    --item-topSeller-bg          : gold;
    --item-doubleTagFontSize     : 0.9rem;
    --skew-angle                 : skew(-15deg);

    /* Button */
    --button-add-fill-onTouch    : yellow;
    --button-remove-fill-onTouch : black;
}

/* Base Styles
   ========================================================================== */

/* HTML core defaults */
html {
    scroll-behavior : smooth;
    scrollbar-color : rgb(8, 101, 232) rgb(169, 169, 169);
    scrollbar-width : thin;
}

/* Body core defaults */

body {
    min-height       : 100vh;
    scroll-behavior  : smooth;
    text-rendering   : optimizeSpeed;
    line-height      : 1.5;
    background-color : whitesmoke;
    font-family      : "Inter", Helvetica, sans-serif;
}


/* Utility Classes
   ========================================================================== */
.hide {
    display : none !important;
}

/* Product Card Styles
   ========================================================================== */
.product-card {
    background-color : var(--apple-white);
    color            : var(--apple-black);
    border           : 0.5px solid var(--apple-light-gray);
}

.product-container {
    position : relative;
    padding  : 1px;
    display  : flex;

}

/* Product Image Styles */
.product-image {
    min-width : 130px;
    max-width : 160px;
    height    : auto;
}

.image-container {
    margin   : 10px;
    position : relative;

}

/* Product Description Styles */
.product-description {
    display        : flex;
    flex-direction : column;
    gap            : 20px;
    margin-left    : 5%;


}

.description {
    text-align         : left;
    display            : -webkit-box;
    -webkit-box-orient : vertical;
    -webkit-line-clamp : 3;
    line-clamp         : 3;
    overflow           : hidden;
    margin-top         : auto;
}

/* Pricing Styles
   ========================================================================== */
.pricing-section {
    display       : flex;
    margin-top    : auto;
    margin-bottom : 10%;
}

.price-and-discount-container {
    display       : flex;
    align-items   : center;
    gap           : 7px;
    margin-bottom : 25%;
}

.price {
    font-size   : var(--default-price-font);
    font-weight : bold;
    color       : var(--apple-black);


}

.new-discounted-price {
    font-size   : 1.5rem;
    font-weight : bold;
}

.discounted-price {
    font-size   : var(--default-price-font);
    font-weight : bold;
    color       : var(--apple-black);
}

/* Add and Remove from cart button styles */
.add-to-cart,
.remove-from-cart {
    display     : flex;
    align-items : center;
    min-width   : 130px;
}

.add-to-cart::after {
    display       : flex;
    content       : "Add to cart";
    margin-top    : auto;
    margin-bottom : 3%
}

.remove-from-cart {
    min-width : 20px;
    fill      : red;
}

.remove-from-cart::after {
    content       : "Remove from cart";
    display       : flex;
    font-size     : 0.8rem;
    margin-top    : auto;
    margin-bottom : 5%
}


.add-to-cart-button, .remove-from-cart-button {
    align-self       : center;
    position         : relative;
    top              : 10px;
    background-color : transparent;
    border           : none;
    padding          : 0;
    margin           : 0;
    touch-action: manipulation;

}


.add-to-cart-button svg {
    fill       : green;
    transition : fill 0.3s ease;
}

.add-to-cart-button:active svg {
    fill : var(--button-add-fill-onTouch);
}

.remove-from-cart-button svg {
    fill       : red;
    transition : fill 0.3s ease;
}

.remove-from-cart-button:active svg {
    fill : var(--button-remove-fill-onTouch);
}





/* Discount Styles */
.price-discounted {
    text-decoration : line-through;
    color           : var(--apple-gray);
    font-size       : var(--price-discounted-font-size);

}

.discount {
    color       : green;
    font-weight : bold;
}

/* Special Tag Styles
   ========================================================================== */
.special-tag-section {
    display : flex;
    gap     : 10px;
}

.special-tag {
    font-size   : 0.8rem;
    margin-top  : 5px;
    font-weight : bold;
    text-align  : center;
    max-height  : fit-content;
    padding     : 3px;
    transform   : skew(-15deg);
}

.special-tag-freeShipping {
    color            : white;
    background-color : var(--item-free-shipping-bg);
}

.special-tag-trending {
    background-color : var(--item-trending-bg);
    color            : var(--apple-black);
}

.special-tag-bigSale {
    background-color : var(--item-bigSale-bg);
    color            : var(--apple-white);
}

.special-tag-topSeller {
    background-color : var(--item-topSeller-bg);
    color            : var(--apple-black);
}



.header-links > ul {

    justify-content : center;
    display         : flex;
    gap             : 10px;
    font-weight     : bold;
}

.company-logo {
    padding : 2%;

}

.company-logo img {
    max-width : 70px;
}

.shopping-cart {
    position    : relative;
    align-self  : center;
    margin-left : auto;

}

.cart-badge {
    display          : none;
    left             : 20px;
    position         : absolute;
    font-size        : 0.8rem;
    font-weight      : bold;
    background-color : orange;
    border           : 1px solid orange;
    border-radius    : 50%;
    width            : 75%;
    height           : auto;
    text-align       : center;

}

.cartPageTitle{
    margin-left : 1rem;
}
.show-shopping-cart-badge {
    display : inline-block;
}

.badge-counter {
    padding-left  : 5%;
    padding-right : 5%;

}

.item-qty {
    bottom     : 8%;
    right      : 3%;
    position   : absolute;
    text-align : right;
}

.item-qty label {
    -webkit-tap-highlight-color : transparent;
}

.qty-input {

}